@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;

    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

    background-color: #36393e;
    scroll-behavior: smooth;

    cursor: default;

    display: flex;
    flex-direction: column;
    overflow: auto;
}

body.loading{
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #44464e;

    box-shadow: inset 0 0 5px #2f2f2f;

    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #2f3136;

    border-radius: 5px;

    cursor: pointer;
}

main {
    padding-bottom: 100px;
}

/*Navbar ↓ */
nav {
    width: 100%;
    min-height: 6vh;

    background-color: #1c1c1c;

    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    z-index: 69;

    -webkit-box-shadow: 0 0 25px 30px #1c1c1c;
            box-shadow: 0 0 25px 30px #1c1c1c;

    transition: top 0.5s ease;
}

.nav-links {
    width: 50%;

    display: flex;
    justify-content: end;
    gap: 2%;
    padding-right: 3%;

    -webkit-box-shadow: 0 0 0px 0px #1c1c1c;
            box-shadow: 0 0 0px 0px #1c1c1c;
}

.nav-links a,
.footer.right a {
    color: whitesmoke;
    letter-spacing: 2px;
    
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-right: auto;
}

.nav-links a:after,
.footer.right a:after {
    width: 100%;
    
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    
    border-bottom: 2px solid;
    opacity: 0;

    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
}

.nav-links a:hover:after,
.footer.right a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}

.nav-links:first-child {
    margin-left: 1vh;
}

.logo {
    height: 7vh;
    width: 7vh;

    background-image: url("https://cdn.discordapp.com/attachments/955095269316374599/962767654781874256/SM_logo_S_rounded.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* "burger" for navbar ↓ */
.menu {
    display: none;
}

.menu:hover {
    cursor: pointer;
}

.menu:hover div:nth-child(2) {
    transform: translateX(-5px);
    background-color: #404EED;
}

.menu div {
    width: 25px;
    height: 3px;

    background-color: whitesmoke;

    margin: 5px;
    transition: all 0.3s ease;
}

.menu.toggle:hover div {
    background-color: #404EED;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/*footer ↓ */
footer {
    width: 100%;
    height: 25vh;

    background-color: #1c1c1c;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer.left {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.copyright {
    color: #818A95;
    font-size: 17px;

    margin-top: 30px;
}

footer h6 {
    font-size: 25px;
    font-weight: bold;
}

.footer.right {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

footer a {
    color: whitesmoke;
    letter-spacing: 2px;
    text-decoration: none;
}

.footer.right a:hover {
    text-decoration: underline;
}

.button {
    color: whitesmoke;
    letter-spacing: 1px;
    text-decoration: none;

    background-color: #404EED;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 69px;
    padding: 12px 16px 12px 16px;

    transition: all 0.3s ease-in-out;
}

.button:hover {
    letter-spacing: 2px;
}

footer a .button:hover{
    letter-spacing: 1px;
    transform: scale(1.1);
}

/* loading page animation ↓*/
.loading-page {
    width: 100%;
    height: 100%;

    background-color: #1c1c1c;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 420;
    top: 0;
    left: 0;
}

.disappear {
    animation: vanish 0.4s forwards;
}

.loader {
    height: 50px;
    width: 50px;

    animation: rotate 1s infinite;
}

.loader:before,
.loader:after {
    height: 20px;
    width: 20px;

    display: block;
    
    border-radius: 50%;
    
    content: '';
}

.loader:before { 
    background-color: whitesmoke;

    box-shadow: 30px 0 0 whitesmoke;

    margin-bottom: 10px;
    
    animation: ball1 1s infinite;
}

.loader:after {
    background-color: whitesmoke;
    
    box-shadow: 30px 0 0 whitesmoke;

    animation: ball2 1s infinite;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }

    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }

    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 whitesmoke;
    }

    50% {
        box-shadow: 0 0 0 whitesmoke;
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 whitesmoke;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 whitesmoke;
    }

    50% {
        box-shadow: 0 0 0 whitesmoke;
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 whitesmoke;
        margin-top: 0;
    }
}

/* additional stuff ↓ */
.code {
    color:#b9bbbe;
    display: inline-block;

    background-color: #2f3136;

    padding: 1px 4px 1px 4px;
}

a.user {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;

    background-color: rgba(88, 101, 242, 0.8);
    
    display: inline-block;

    border-radius: 2px;

    padding: 0px 3px 1px 2px;

    cursor: pointer;
}

a.user:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;

    background-color: #5865f2;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

@media screen and (max-width: 770px) {
    body {
        overflow-x: hidden;
    }

    nav {
        height: 5vh;
    }

    .nav-links {
        height: 94vh;
        width: 50%;

        background-color: #1c1c1c;

        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 30px;

        padding-top: 5%;

        position: absolute;
        top: 8vh;
        right: -60px;
        transform: translateX(100%);

        -webkit-box-shadow: 0 0 25px 30px #1c1c1c;
                box-shadow: 0 0 25px 30px #1c1c1c;
    }

    .nav-links li {
        opacity: 0;
    }

    .menu {
        display: block;

        padding-right: 3%;
    }

    .logo {
        transform: scale(0.75);
    }

    footer h6 {
        font-size: 18px;
    }

    .button {
        width: 75%;

        font-size: 15px;

        padding: 8px 16px 8px 16px;
    }

    footer .button {
        margin-top: 10px;
        margin-left: 9px;
    }

    .copyright {
        font-size: 11px;

        margin-left: 9px;
    }

    .footer.right {
        padding-top: 15px;
        gap: 17px;
    }

    .footer.right a {
        font-size: 14px;
    }

    .flex-row {
        justify-content: start;
        gap: 0px;
    }

    .copyright {
        margin-top: 15px;
    }

    .footer.left .button {
        margin-top: 5px;
        padding: 8px 12px 8px 12px;
    }

    .code {
        padding: 0 2px 0 2px;
    }

        .nav-active {
            transform: translateX(-60px);
        }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}