@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 100%;
    min-height: 100vh;

    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

body.loading {
    overflow: hidden;
}

/* loading page ↓*/
.loading-page {
    width: 100%;
    height: 100%;

    background-color: #1c1c1c;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 420;
    top: 0;
    left: 0;
}

.disappear {
    animation: vanish 0.4s forwards;
}

.loader {
    height: 50px;
    width: 50px;

    animation: rotate 1s infinite;
}

.loader:before,
.loader:after {
    height: 20px;
    width: 20px;

    display: block;

    border-radius: 50%;

    content: '';
}

.loader:before {
    background-color: whitesmoke;

    box-shadow: 30px 0 0 whitesmoke;

    margin-bottom: 10px;

    animation: ball1 1s infinite;
}

.loader:after {
    background-color: whitesmoke;

    box-shadow: 30px 0 0 whitesmoke;

    animation: ball2 1s infinite;
}

/* main and card ↓*/
main {
    display: grid;
    grid-template-columns: 320px 320px;
    grid-auto-rows: 360px;
    column-gap: 60px;
    row-gap: 60px;
    
    position: absolute;

    z-index: 69;
    pointer-events: none;
}

main .card {
    width: 100%;
    height: 100%;

    color: whitesmoke;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    pointer-events: all;

    transition: 0.3s;
}

main .card::before {
    width: 50%;
    height: 100%;

    content: '';

    background: #fff;
    border-radius: 8px;

    position: absolute;
    top: 0;
    left: 50px;

    

    transform: skewX(15deg);
    transition: 0.3s;
}

main .card::after {
    width: 50%;
    height: 100%;

    content: '';

    background: #fff;
    border-radius: 8px;

    position: absolute;
    top: 0;
    left: 50px;

    transform: skewX(15deg);
    filter: blur(30px);
    transition: 0.3s;
}

main .card:hover::after,
main .card:hover::before {
    width: calc(100% - 90px);
    
    left: 20px;
    
    transform: skewX(0deg);
    transition: 0.3s;
}

main .card:first-child::after,
main .card:first-child::before {
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}

main .card:nth-child(2)::after,
main .card:nth-child(2)::before {
    background: linear-gradient(315deg, #0db3be, #ff0058);
}

main .card span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 10;
    pointer-events: none;
}

main .card span::before {
    width: 100%;
    height: 100%;
    
    content: '';

    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);

    position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0;
    animation: levitate 2s ease-in-out infinite;
}

main .card:hover span::before {
    width: 100px;
    height: 100px;
    
    top: -50px;
    left: 50px;
    
    opacity: 1;
    transition: 0.3s;
}

main .card span::after {
    width: 100%;
    height: 100%;
    
    content: '';
    
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);

    position: absolute;
    bottom: 0;
    right: 0;
    
    opacity: 0;
    animation: levitate 2s ease-in-out infinite;
    animation-delay: -1s;
}

main .card:hover span::after {
    width: 100px;
    height: 100px;
    
    bottom: -50px;
    right: 50px;
    
    opacity: 1;
    transition: 0.3s;
}

main .card .content {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);

    position: relative;
    left: 0;

    padding: 20px 40px;

    z-index: 1;
    transition: 0.5s;
}

main .card:hover .content {
    left: -25px;

    padding: 30px  20px 30px 30px;
}

main .card .content h2 {
    font-size: 2em;

    margin-bottom: 10px;
}

main .card .content p {
    font-size: 1.1em;
    line-height: 1.4em;

    margin-bottom: 10px;
}

main .card .content a {
    color: #000;
    font-size: 1.1em;
    font-weight: 700;
    text-decoration: none;

    background: #fff;
    border-radius: 4px;

    display: inline-block;
    
    padding: 10px;
}

/* background animation ↓*/
section {
    width: 100%;
    height: 100%;

    background-color: #111;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    position: fixed;
    user-select: none;
}

section .row {
    width: 100%;

    font-size: 64px;

    display: flex;

    position: relative;
    top: -47%;
    left: -8%;

    padding: 10px 0;

    white-space: nowrap;
    transform: rotate(-30deg);
}

section i {
    color: rgba(0, 0, 0, 0.5);

    padding: 0 5px;
    
    transition: 1s;
}

section i:hover {
    color: #5F85DB;
    text-shadow: 0 0 120px #5F85DB;
    
    transition: 0s;
}

section .row div {
    animation: animatedLines 90s linear infinite;
    animation-delay: -90s;
}

section .row div:nth-child(2) {
    animation: animatedLines2 90s linear infinite;
    animation-delay: -45s;
}

section .row:nth-child(even) div {
    animation: animatedLines3 90s linear infinite;
    animation-delay: -90s;
}

section .row:nth-child(even) div:nth-child(2) {
    animation: animatedLines4 90s linear infinite;
    animation-delay: -45s;
}

section .row div i:last-child {
    margin-right: 10px;
}

/* loading page animations ↓*/
@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }

    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }

    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 whitesmoke;
    }

    50% {
        box-shadow: 0 0 0 whitesmoke;
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 whitesmoke;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 whitesmoke;
    }

    50% {
        box-shadow: 0 0 0 whitesmoke;
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 whitesmoke;
        margin-top: 0;
    }
}

@keyframes vanish {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* card span animation ↓*/
@keyframes levitate {

    0%,
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* icons lines animations ↓*/
@keyframes animatedLines {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes animatedLines2 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}

@keyframes animatedLines3 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes animatedLines4 {
    0% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0%);
    }
}

@media screen and (max-width: 950px) {
    main {
        grid-template-columns: 280px 280px;
        grid-auto-rows: 315px;
        column-gap: 40px;
    }

    main .card:nth-child(odd) {
        margin-left: 0px;
    }
}

@media screen and (max-width: 725px) {
    main {
        grid-template-columns: 320px;
        grid-auto-rows: 315px;

        top: 75px;

        padding-bottom: 75px;
        row-gap: 80px;
    }
}