:root {
    --asideLineHeight: 4.6vh;
    --asideMinLineHeight: 30px;
    --asideMaxLineHeight: 55px;
}

nav .nav-links li:nth-child(3) a {
    color: #404EED;
    text-decoration: underline;
}

nav .nav-links li:nth-child(3) a::after {
    content: none;
}
/*main */
main {
    display: flex;
    flex-direction: column;

    padding: 15vh 2vw 0 7vw;

    row-gap: 2vh;
}

h2 {
    font-size: 35px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

    letter-spacing: 2px;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

    padding-bottom: 1vh;
    text-decoration: underline;
}

main p {
    padding-left: 2vw;
    line-height: 25px;
}

main a {
    color: #404EED;
    opacity: 1;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

article a:hover {
    text-decoration: underline;
}

.line {
    width: 89vw;
    height: 3px;

    background-color: #1c1c1c;

    display: flex;

    margin: 1vh 0 1vh 0;
}

.line.small {
    width: 85vw;
    height: 3px;

    background-color: #2f3136;

    display: flex;

    margin: 1vh 0 1vh 4vw;
}

article {
    padding: 0 1vw 0 3vw;
}

article p {
    color: rgba(245, 245, 245, 0.5);
}

.code.block {
    width: auto;
    display: flex;
    flex-direction: column;
    
    border: 1px #242424 solid;
    border-radius: 2px;
    gap: 4px;
    
    padding: 10px 13px 10px 13px;
    margin-left: 4vw;
}

.code.block p {
    padding: 0;
}

article li {
    line-height: 24px;

    padding-left: 4vw;
    list-style: none;
}

/* ---------- Sidebar---------- */

aside {
    width: 25vw;
    max-width: 500px;
    height: 100vh;

    font-size: 18px;
    color: whitesmoke;

    background-color: #1c1c1c;

    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    position: fixed;

    padding-top: 75px;

    z-index: 1;

    transition: width 0.6s ease;
}

aside::-webkit-scrollbar {
    width: 5px;
}

aside::-webkit-scrollbar-track {
    background: #83858c;

    box-shadow: inset 0 0 5px #2f2f2f;

    cursor: pointer;
}

aside::-webkit-scrollbar-thumb {
    background: #3d3f44;

    border-radius: 5px;

    cursor: pointer;
}

/* ---------- Aside menu ---------- */

.asideMenuContainer {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-bottom: 3.5vh;
}

aside.closed .asideMenuContainer {
    width: 60px;

    cursor: default;

    justify-content: center;
}

.asideMenuContainer span {
    margin-left: 17px;
    font-weight: 400;

    transition: color 0.3s ease;
}

aside.closed .asideMenuContainer span {
    position: absolute;

    visibility: hidden;
}

.asideMenuContainer:hover span {
    color: #404EED;
}

.asideMenu {
    cursor: pointer;

    display: block;
}

.asideMenu div {
    width: 26px;
    height: 3px;

    background-color: whitesmoke;

    margin: 5px;

    transition: all 0.3s ease;
}

.asideMenu div:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.asideMenu div:nth-child(2) {
    opacity: 0;
}

.asideMenu div:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
}

aside:not(.closed) .asideMenuContainer:hover .asideMenu div,
aside.closed .asideMenu:hover div:not(:first-child) {
    background-color: #404EED;
}

aside.closed .asideMenu div:first-child {
    transform: none;
}

aside.closed .asideMenu div:nth-child(2) {
    width: 18px;

    opacity: 1;
}

aside.closed .asideMenu div:last-child {
    width: 10px;

    transform: none;
}

aside.closed .asideMenu:hover div:nth-child(2) {
    transform: translateX(8px);
    transition: all 0.3s ease;
}

aside.closed .asideMenu:hover div:last-child {
    transform: translateX(16px);
    transition: all 0.3s ease;
}

/* ---------- Sidebar links ---------- */

aside a {
    height: var(--asideLineHeight);
    min-height: var(--asideMinLineHeight);
    max-height: var(--asideMaxLineHeight);
    width: 100%;

    color: whitesmoke;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: start;

    position: relative;
}

aside i.fa-solid {
    width: 60px;

    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    cursor: pointer;
}

aside > a span {
    height: var(--asideLineHeight);
    min-height: var(--asideMinLineHeight);
    max-height: var(--asideMaxLineHeight);

    font-size: 18px;
    font-weight: 400;

    display: flex;
    justify-content: center;
    align-items: center;

    white-space: pre;

    transition: all 0.2s ease;
}

aside > a:hover,
aside > .subMenu:hover {
    background-color: #242424;

    transition: all 0.2s ease;
}

/* ---------- Closed sidebar ---------- */

aside.closed {
    width: 60px;
}

aside.closed > a i.fa-solid {
    padding: 0;
}

aside.closed > a span,
.subMenuLinks {
    position: absolute;
    left: 60px;

    visibility: hidden;

    border-radius: 0 6px 6px 0;

    padding: 0 20px;

    transition: all 0.2s ease;
}

aside.closed > a:hover > span {
    background-color: #242424;
    
    visibility: visible;

    transition: all 0.2s ease;
}

/* ---------- Sidebar links subMenu ---------- */
.subMenu {
    width: 100%;

    display: flex;

    position: relative;
}

.subMenu a {
    width: auto;

    white-space: pre;
}

.subMenu i.fa-chevron-down {
    height: var(--asideLineHeight);
    min-height: var(--asideMinLineHeight);
    max-height: var(--asideMaxLineHeight);
    
    width: auto;

    position: absolute;

    right: 15px;

    z-index: 2;
}

aside:not(.closed) i.fa-chevron-down {
    transition: visibility 0s ease 0.2s, rotate 0.3s ease, color 0.2s ease;
}

aside.closed i.fa-chevron-down {
    visibility: hidden;

    left: 20px;
}

.subMenu i.fa-chevron-down:hover {
    color: #404EED;
}

.subMenu.showMenu i.fa-chevron-down {
    rotate: -180deg;
}

.subMenu a > i {
    width: 60px;
}

.subMenuLinks {
    display: flex;
    flex-direction: column;

    padding: 0 0 5px 0;

    transition-duration: 0s;
}

.subMenuLinks a {
    transition: all 0.2s ease;
}

aside.closed .subMenuLinks a {
    padding: 0 20px;
}

aside:not(.closed) .subMenuLinks a:first-child{
    visibility: visible;
}

aside.closed .subMenu:hover .subMenuLinks {
    background-color: #242424;
    
    visibility: visible;

    transition: all 0.2s ease;
}

aside:not(.closed) .subMenu.showMenu .subMenuLinks {
    position: static;

    visibility: visible;
}

.subMenuLinks a:not(:first-child) {
    color: rgba(245, 245, 245, 0.6);
    font-size: 15px;

    transition: color 0.2s ease;
}

.subMenuLinks a:not(:first-child):hover {
    color: whitesmoke;

    background-color: #242424;

    transition: color 0.2s ease;
}

@media screen and (max-width: 1250px) {
    aside {
        width: 33vw;
    }
}

@media screen and (max-width: 950px) {
    aside {
        width: 38vw;
    }
}


.important {
    font-weight: 600;

    background-color: rgba(64, 78, 237, 0.4);

    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    border: 2px #404EED solid;
    border-radius: 15px;

    text-align: center;
}

@media screen and (max-width: 770px) {
    main {
        padding: 15vh 2vw 0 2vw;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    main p,
    .code.block li {
        font-size: 15px;
    }

    .line {
        width: 94vw;
    }

    article {
        padding: 0 1vw 0 2vw;
        line-height: 20px;
    }

    .line.small {
        width: 90vw;
    }
}

@media screen and (min-width: 770px) and (max-width: 1360px) {
    main {
        padding: 15vh 2vw 0 9vw;
    }
}